body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  text-align: left;
}

.coat {
  background-image: url("../img/coat.jpg");
  background-repeat: no-repeat;
  background-size: 500px;
  width: 500px;
  height: 700px;
}

table {
  padding: 40px;
  height: 600px;
  color: #fff;
}

td {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

#gk {
  text-align: center;
  color: #fff;
}

.right {
  padding-top: 50px;
}

#formation {
  font-size: 30px;
  border-radius: 20px;
}

.delete-btn {
  cursor: pointer;
}

#change-btn, #select-btn, #start-btn, #retry-btn, #close {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

#top-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url(../img/top_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#top-page > p {
  font-size: 100px;
  text-align: center;
  color:orange;
}

#start-btn {
  background-color: rgba(24, 209, 18, 0.932);
  margin: 0 auto;
  width: 20%;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  line-height: 50px;
}

#mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  background-color: #fff;
  width: 30%;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}

#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}